@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Moderustic", sans-serif;
  }
}

@layer components {
  /* flex short-hand */
  .flexicjc {
    @apply flex items-center justify-center;
  }
  .flexicjb {
    @apply flex items-center justify-between;
  }
  .flexisjb {
    @apply flex items-start justify-between;
  }
  .flexicjs {
    @apply flex items-center justify-start;
  }
  .flexicja {
    @apply flex items-center justify-around;
  }
  .flexisjs {
    @apply flex items-start justify-start;
  }
  .flexisjc {
    @apply flex items-start justify-center;
  }
  .flexiejc {
    @apply flex items-end justify-center;
  }
  .flexieje {
    @apply flex items-end justify-end;
  }
  .flexicje {
    @apply flex items-center justify-end;
  }
  .flexiejb {
    @apply flex items-end justify-between;
  }
  .flexic {
    @apply flex items-center;
  }
  .flexis {
    @apply flex items-start;
  }
  /* TYPOGRAPHY  */

  /* xl */
  .text-xl-regular {
    @apply text-xl font-normal;
  }
  .text-xl-medium {
    @apply text-xl font-medium;
  }
  .text-xl-semibold {
    @apply text-xl font-semibold;
  }
  .text-xl-bold {
    @apply text-xl font-bold;
  }
  /* lg */
  .text-lg-regular {
    @apply text-lg font-normal;
  }
  .text-lg-medium {
    @apply text-lg font-medium;
  }
  .text-lg-semibold {
    @apply text-lg font-semibold;
  }
  .text-lg-bold {
    @apply text-lg font-bold;
  }
  /* md */
  .text-md-regular {
    @apply text-md font-normal;
  }
  .text-md-medium {
    @apply text-md font-medium;
  }
  .text-md-semibold {
    @apply text-md font-semibold;
  }
  .text-md-bold {
    @apply text-md font-bold;
  }
  /* sm */
  .text-sm-regular {
    @apply text-sm font-normal;
  }
  .text-sm-medium {
    @apply text-sm font-medium;
  }
  .text-sm-semibold {
    @apply text-sm font-semibold;
  }
  .text-sm-bold {
    @apply text-sm font-bold;
  }
  /* xs */
  .text-xs-regular {
    @apply text-xs font-normal;
  }
  .text-xs-medium {
    @apply text-xs font-medium;
  }
  .text-xs-semibold {
    @apply text-xs font-semibold;
  }
  .text-xs-bold {
    @apply text-xs font-bold;
  }
  /* xxs */
  .text-xxs-regular {
    @apply text-xxs font-normal;
  }
  .text-xxs-medium {
    @apply text-xxs font-medium;
  }
  .text-xxs-semibold {
    @apply text-xxs font-semibold;
  }
  .text-xxs-bold {
    @apply text-xxs font-bold;
  }
}

/* width */
.customScrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Handle */
.customScrollbar::-webkit-scrollbar-thumb {
  background: #667085;
  border-radius: 10px;
}

/* Handle on hover */
.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #363f72;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
}
